<div class="container mt-4">
    <h1>Products page</h1>
    <div class="row">
        <mat-card class="example-card col m-2" *ngFor="let product of products; let i = index">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.price}}€</mat-card-subtitle>
                <button routerLink="/product/{{product._id}}" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>add_box</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content>
                <p>{{product.description}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>