<mat-toolbar>
    <span>Angular project</span>
    <button class="ms-2" mat-stroked-button aria-label="home" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>home</mat-icon> Main page</button>
    <button class="ms-2" mat-stroked-button aria-label="products" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</button>
    <button class="ms-2" mat-stroked-button aria-label="contacts" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</button>
    <button class="ms-2" mat-stroked-button aria-label="admin"  routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>settings</mat-icon> Admin</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>